# Computer Vision
opencv-python==4.10.0.84
mediapipe==0.10.18

# Data
numpy==1.26.4
scikit-learn==1.5.2

# Visualization
matplotlib==3.9.2
seaborn==0.13.2

# Utilities
tqdm==4.67.1

# Voice Assistant
edge-tts==6.1.12
pygame==2.6.1